# Node modules
node_modules/

# Environment files
frontend/.env
frontend/.env.local
frontend/.env.test
backend/.env
backend/.env.local
backend/.env.test

# Other files and directories to ignore
*.log
*.tmp
